# Ignore virtual environments
venv/

# Ignore environment variable files
.env

# Ignore Python bytecode and cache files
__pycache__/
*.py[cod]

# Ignore Google Cloud credentials
speech_to_text.json
text-to-speech.json

.streamlit/